{{ define "view/mysupport.html" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <link rel="stylesheet" href="../reso/css/bootstrap.css" />
    <link rel="stylesheet" href="../reso/css/daohang.css" />
    <link rel="stylesheet" href="../reso/css/style.css" />
    <link rel="stylesheet" href="../reso/css/footer&cbl.css" />
    <script type="text/javascript" src="../reso/js/jquery-2.1.1.min.js" ></script>
    <script type="text/javascript" src="../reso/js/bootstrap.js" ></script>
    <script type="text/javascript" src="../reso/js/index.js"></script>
    <script type="text/javascript" src="../reso/js/templet.js" ></script>
    <script type="text/javascript" src="../reso/js/hp.js" ></script>

    <script type="text/javascript" src="../reso/uploadImage/js/uploadImg.js"></script>
    <link href="../reso/uploadImage/css/index.css" rel="stylesheet"/>

    <link href="https://cdn.bootcdn.net/ajax/libs/photoswipe/4.1.3/photoswipe.css" rel="stylesheet">
    <link href="https://cdn.bootcdn.net/ajax/libs/photoswipe/4.1.3/default-skin/default-skin.css" rel="stylesheet">
    <script src="https://cdn.bootcdn.net/ajax/libs/photoswipe/4.1.3/photoswipe.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/photoswipe/4.1.3/photoswipe-ui-default.js"></script>
    <title>我的求助信息</title>

    <style>
        #dv{
            display: flex;
            flex-direction: column;
        }
        .li1{
            display: flex;
            flex-direction: column;
            padding: 50px;
            border:1px solid #000;
            border-radius: 0.5rem;
            margin-bottom: 30px;
            background-color: #dfedf0;
        }
        .li1 input{
            background-color:transparent;
            border:0;
        }
        .check{
            margin-bottom: 30px;
            font-size: large;
            color: #ff2a37;
        }
        .matelist{
            display: flex;
            flex-direction: row;
            padding: 10px 0 10px 20px;
        }
        .type{
            width: 200px;
            margin: 0 30px 0 10px;
        }
        .number{
            width: 150px;
            margin: 0 30px 0 10px;
        }

        .frame{
            display: flex;
            flex-direction: row;
            margin-top:10px;
        }
        .photos{
            display: flex;
            flex-direction: column;
            width: 80%;
            padding-bottom: 10px;
        }
        .frame img {
            width: 80%;
            height: auto;
            margin: 1px 1px 1px 1px;
        }
        .sbutton{
            display: flex;
            flex-direction: row;
        }
        .feedbackinfo{
            display: flex;
            flex-direction: column;
            padding: 10px 0 0 20px;
        }
        .logiinfo{
            display: flex;
            flex-direction: column;
            padding:10px 0 10px 20px;
        }
        .logiinfo1{
            display: flex;
            flex-direction: row;
        }
        .pathinfo{
            padding:10px 0 10px 20px;
        }
        .a_form-group{
            display: flex;
            flex-direction: row;
        }


    </style>
</head>
<body>

<div id="main">
    <header id="header" data-spy="affix" data-offset-top="70">
        <nav class="navbar-inverse" id="daohang">
            <div class="daohang">
                <div class="navbar-header clearfix">
                    <button type="button" class="zd" id="zd" >
                        <span class="glyphicon glyphicon-align-justify"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="daohangtiao">
                    <ul class="nav navbar-nav">
			    <li><a href="http://175.24.90.252:8080/view/home">首页</a></li>
			    <li><a href="http://175.24.90.252:8080/view/myhelp">我的求助</a></li>
			    <li><a href="http://175.24.90.252:8080/view/mysupport">我的援助</a></li>
		    </ul>

		    <ul id="loginregister"class="zcdl nav navbar-nav pull-right">
			    <li><a href="http://175.24.90.252:8080/view/login.html">登录</a></li>
			    <li><a href="http://175.24.90.252:8080/view/register.html">注册</a></li>
		    </ul>

                    <ul id="username" class="zcdl nav navbar-nav pull-right" style="display: none;">
                        <a id="welcome" style="font-size: 25px"></a>
                    </ul>
                </div>
            </div>
        </nav>
    </header>


    <div class="main">
        <div class="c2">
            <div class="container"  >
                <!--<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" style="margin-left: 80%;">
                    新建求助信息
                </button> -->
                <h1 class="hh1" style="font-size: 44px;padding-bottom: 20px;">我的援助项目</h1>
                <div id="dv">
                    <ul class="content">

                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width:800px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        ×
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        补充物流信息,以下均为必填信息
                    </h4>
                </div>
                <div class="modal-body" style="height:auto">
                    <div class = "a_matelist">
                        <div id="a_dv">
                            <div class="a_form-group">
                                <label style="font-size: 18px;width: 30%">起点</label>
                                <input id="a_start" class="a_start form-control"  style="width: 60%;margin-bottom: 5px;" type="text">
                            </div>
                            <div class="a_form-group">
                                <label style="font-size: 18px;width: 30%">终点</label>
                                <input id="a_end" class="a_end form-control"  style="width: 60%;margin-bottom: 5px;" type="text">
                            </div>
                            <div class="a_form-group">
                                <label style="font-size: 18px;width: 30%">物流公司</label>
                                <input id="a_company" class="a_company form-control"  style="width: 60%;margin-bottom: 5px;" type="text">
                            </div>
                            <div class="a_form-group">
                                <label style="font-size: 18px;width: 30%">单号</label>
                                <input id="a_tackingnum" class="a_tackingnum form-control" style="width: 60%;margin-bottom: 5px;" type="text">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" onclick=addSupportLogi()>提交</button>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
<script>

    var sid="";
    function setdata(e) {
        sid=$(e).attr("customsid");
        console.log(sid);
    }
    function addSupportLogi() {

        var start=document.getElementById("a_start").value;
        var end=document.getElementById("a_end").value;
        var company=document.getElementById("a_company").value;
        var tackingnum=document.getElementById("a_tackingnum").value;
        if(start==""||end==""||company==""||tackingnum==""){
            alert("所有均为必填项");
            return;
        }

        var url = "http://175.24.90.252:8080/support/logi?id="+sid+"&start="+start+"&end="+end+"&company="+company+"&tackingnum="+tackingnum;
        $.ajax({
            type: "POST",
            dataType: "text",
            url: url,
            success: function (json) {
                alert("提交成功");
                $('#myModal').modal('hide');
                location.reload(true);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert("提交失败");
            }
        });

    }

    function getSupportAndPhoto(){
        var url ="http://175.24.90.252:8080/support/all/"+sessionStorage.getItem("id");
        $.ajax({
            type: "GET",
            dataType: "json",
            url: url,
            success: function (json) {
                console.log(json);
                if(json!=null){
                    ff(json);
                }
                else {
                    alert("暂无");
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert("获取求助信息失败");
            }
        });
    }

    function ff(datalist){
        for (var i = 0; i < datalist.length; i++) {
            a = '<li class="li1">';
            a += '<h3 class="matelistlable">援助物资信息</h3>';
            a += '<div class = "matelist">';
            a += '<ul>';
            for (var j = 0; j < datalist[i].smatearr.length; j++) {
                a += '<li class="mateli1">';
                a += '<label>物资名称类别</label>';
                a += '<input class="type"  placeholder=' + datalist[i].smatearr[j].category + ' disabled="true">';
                a += '<label>数目</label>';
                a += '<input class="number" placeholder=' + datalist[i].smatearr[j].number + ' disabled="true">';
                a += '</li>';
            }
            a += '</ul>';
            a += '</div>';

            a+= '<div class="photos">';
            a += '<h3 class="imagelistlable">相关图片</h3>';
            a += '<div class="frame">';
            for (var k = 0; k < datalist[i].materphotoitems.length; k++) {
                a+='<a href='+datalist[i].materphotoitems[k].src+' data-size='+datalist[i].materphotoitems[k].size+'>';
                a+='<img class="img-thumbnail" src='+datalist[i].materphotoitems[k].s+'/>';
                a+='</a>';
            }
            a+='</div>';
            a+='</div>';

            if(datalist[i].reslogi.trackingnum==""){
                a += '<div class="sbutton">';
                //a += '<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" style="margin-left: 70%; margin-right: 5%" onclick="">查看求助信息</button>';
                a += '<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" style="margin-left: 70%;" customsid='+datalist[i].sid+' onclick=setdata(this)>补充物流信息</button>';
                a += '</div>';
            }
            else{
                a += '<h3 class="logi">物流信息</h3>';
                a += '<div class = "logiinfo">';
                a += '<div class = "a_form-group">';
                a += '<label>起点</label>';
                a += '<input class="start"  style="width: 600px;margin: 0 0 0 10px;" placeholder=' + datalist[i].reslogi.start + ' disabled="true">';
                a += '</div>';
                a += '<div class = "a_form-group">';
                a += '<label>终点</label>';
                a += '<input class="end"  style="width: 600px;margin: 0 0 0 10px;" placeholder=' + datalist[i].reslogi.end + ' disabled="true">';
                a += '</div>';
                a += '<div class = "logiinfo1">';
                a += '<label>物流单号</label>';
                a += '<input class="trackingnum"  style="width: 300px;margin: 0 30px 0 10px;" placeholder=' + datalist[i].reslogi.trackingnum + ' disabled="true">';
                a += '<label>物流公司</label>';
                a += '<input class="company"  style="width: 300px;margin: 0 30px 0 10px;" placeholder=' + datalist[i].reslogi.company + ' disabled="true">';
                a += '</div>';
                a += '</div>';
                a += '<h3 class="path" style="padding-bottom: 10px;">中转点信息</h3>';
                a += '<div class = "pathinfo" style="padding: 0 0 10px 20px;">';
                if(datalist[i].reslogi.respath!=null) {
                    for (var l = 0; l < datalist[i].reslogi.respath.length; l++) {
                        a += '<label>地点</label>';
                        a += '<input class="location" style="width: 600px;margin: 0 30px 0 10px;" placeholder=' + datalist[i].reslogi.respath[l].location + ' disabled="true">';
                        a += '<label>时间</label>';
                        a += '<input class="time" style="width: 200px;margin: 0 30px 0 10px;" placeholder=' + datalist[i].reslogi.respath[l].time + ' disabled="true">';
                        a += '<h4 class="imagelistlable">相关图片</h4>';
                        if (datalist[i].reslogi.respath[l].photoitems != null) {
                            a += '<div class="photos">';
                            a += '<div class="frame">';
                            for (var m = 0; m < datalist[i].reslogi.respath[l].photoitems.length; m++) {
                                a += '<a href=' + datalist[i].reslogi.respath[l].photoitems[m].src + ' data-size=' + datalist[i].reslogi.respath[l].photoitems[m].size + '>';
                                a += '<img class="img-thumbnail" src=' + datalist[i].reslogi.respath[l].photoitems[m].s + '/>';
                                a += '</a>';
                            }
                            a += '</div>';
                            a += '</div>';
                        }
                    }
                }
                a += '</div>';
                a += '<h3 class="feedback">反馈信息</h3>';
                a += '<div class = "feedbackinfo">';
                a += '<p class="finish" style="color: red;">';
                if(datalist[i].finished==true){
                    a += "该援助已得到受助人确认完成" + '</p>';
                    a += '<label>受助人反馈评价信息</label>';
                    a += '<textarea class="feedbackmessage" disabled="true" style="height: 100px;width: 700px;">';
                    a += datalist[i].feedbackmessage;
                    a += '</textarea>';

                    a+= '<div class="photos">';
                    a += '<h4 class="imagelistlable">相关图片</h4>';
                    a += '<div class="frame">';
                    for (var n = 0; n < datalist[i].feedbackphotoitems.length; n++) {
                        a+='<a href='+datalist[i].feedbackphotoitems[n].src+' data-size='+datalist[i].feedbackphotoitems[n].size+'>';
                        a+='<img class="img-thumbnail" src='+datalist[i].feedbackphotoitems[n].s+'/>';
                        a+='</a>';
                    }
                    a+='</div>';
                    a+='</div>';
                }else{
                    a += "该援助还未完成" + '</p>';
                }
                a += '</div>';
                //a += '<div class="sbutton">';
                //a += '<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" style="margin-left: 70%;" onclick="">查看求助信息</button>';
                //a += '</div>';
            }
            a += '</li>';
            $(".content").append(a);
        }
    }

    window.onload = function() {
        if(sessionStorage.getItem("name")!=null){
            document.getElementById('username').style="";
            document.getElementById('welcome').innerHTML="欢迎"+sessionStorage.getItem("name")+"!";
            document.getElementById('loginregister').style="display:none";
            getSupportAndPhoto();
        }
        else {
            alert("请先登录!");
        }
    }


</script>
<script src="../reso/js/imagePreview.js"></script>
</html>
{{ end }}
